<input #newTodo
   placeholder="Tareas que necesitan ser terminadas" 
   (keyup.enter)="add(newTodo.value)">

   <table class="table table-striped" *ngIf="todos && todos.length > 0">
      <thead></thead>
      <tbody>
          <tr *ngFor="let todo of todos, let index = index">
              <td><input type="checkbox" [checked]="todo.done" (change)="checkedDone(index)" /></td>
              <td [ngClass]="{'done': todo.done, 'not-done': !todo.done}">{{todo}}</td>
              <td>
                  <button class="btn btn-danger" (click)="remove(todo)">Delete</button>
              </td>
          </tr>
      </tbody>
    </table>
